:root {
    font-size: 62.5%;
    --font: 'Mulish', sans-serif;

    /* colors*/
    --colors-first: #B52184;
    --colors-text: #312D64;
    --white: #fff;
    --light-gray: #fdfdfd;
    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    font-family: var(--font)
}
img {
    width: 100%;
}


header {
    padding: 0 3.4rem 9.3rem 3.2rem;
    width: 100%;
}
h1 {
   
    color: #B52184;
    font-family: var(--font);
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
    margin: 1.7rem 0 0.5rem 0;
}

.header-text {

}

.header-text p {
    color: var(--colors-text);
     text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2px;
    margin-bottom: 3.5rem;
}
/* botton down */
header .header-text .button-down {
    width: 5.8rem;
    height: 10.5rem;
    border: 3px solid var(--colors-first);
    border-radius: 75rem;

    display: flex;
    justify-content: center;

    margin: 0 auto;
    transition: filter 300ms;
}
header .header-text .button-down:hover {
    filter: brightness(0.7);
}
.header-text img {
    width: 3rem;
}

/* cards */
.content-cards {
   background-image: var(--gradient-background);

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5.69rem 3.3rem;

}

.cards {
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 20px;
    width: 22rem;
    height: 22rem;
    padding: 1.6rem;
    margin-bottom: 50px;
}
.cards  h2 {
    color: var(--colors-first);
    font-family: var(--font);
    font-size: 1.9rem;
    font-weight: 800 ;
    margin-bottom:  0.5rem;
}
.cards p {
    color: var(--colors-text);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    line-height: auto;

}


.cards img {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: 1rem ;
}

/* form */
.container-form{
    display: flex;
    width:  27rem;
    height: 35.313rem;

    margin: 0 auto;
    padding: 1rem;

}


form h2 {
    color: var(--colors-first);
    font-family: var(--font);
    font-size: 3.2rem;
    font-weight: bolder;
    text-align: left;

    padding-top: 4.8rem;
    margin-bottom: 2.1rem;
}

fieldset , textarea{
    border: none;
}
.input-wrapper {
    width: 21rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    border: 1px solid black;
    border-radius: 1.6rem;
    padding: 0.88rem 0.78rem 0.75rem  1rem;

    margin-bottom: 1.5rem;
}
textarea {
    width: 21rem;
    height: 7.8rem;
    border: 1px solid black;
    border-radius: 1.6rem;
    padding: 1rem 0.78rem 0.75rem  1rem;

    margin-bottom: 1.5rem;    
}

::placeholder{
    color: var(--colors-text);
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-family: var(--font);
    font-weight: 600;
    padding-top: 1px;
    padding-left: 5px;

}

/* button */

button {
    color: var(--white);
    background-image: var(--gradient-background);
    text-align: center;
    font-family: var(--font);
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    border: none;
    border-radius: 16px;
    padding: 16px;

    cursor: pointer;
 
}
.btn {
  
}





/* foooter */
footer {
    background-color: #343193;
    margin-top: 4rem;
}




