:root {
    font-size: 62.5%;
    --font: 'Mulish', sans-serif;

    /* colors*/
    --colors-first: #B52184;
    --colors-text: #312D64;
    --white: #fff;
    --light-gray: #fdfdfd;
    --background-body: #F9F4FB;
    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: var(--background-body);
    font-family: var(--font)
}
img {
    transition: all ease-in-out 1s;
}
img:hover{
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
}


header {
    padding: 0 3.4rem 9.3rem 3.2rem;
    width: 100%;
}
h1 {
   
    color: #B52184;
    font-family: var(--font);
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
    margin: 1.7rem 0 0.5rem 0;
}


.header-text {

}

.header-text p {
    color: var(--colors-text);
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 5px;
    margin-bottom: 3.5rem;
}


/* botton down */
header .header-text .button-down {
    width: 5.8rem;
    height: 10.5rem;
    border: 3px solid var(--colors-first);
    border-radius: 75rem;

    display: flex;
    justify-content: center;

    margin: 0 auto;
    transition: filter 300ms;
}
header .header-text .button-down:hover {
    filter: brightness(0.7);
}
.header-text img {
    width: 4rem;
}


/* cards */
.content-cards {
   background-image: var(--gradient-background);
   

    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 5.69rem 3.3rem;

}

.cards {
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 20px;
    width: 22rem;
    height: 22rem;
    padding: 1.6rem;
    margin-bottom: 50px;
}
.cards  h2 {
    color: var(--colors-first);
    font-family: var(--font);
    font-size: 1.9rem;
    font-weight: 800 ;
    margin-bottom:  0.5rem;
}
.cards p {
    color: var(--colors-text);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 600;
    text-align: left;
    line-height: auto;

}


.cards img {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: 1rem ;
}

/* form */
.container-form{
    display: flex;

}
form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


form h2 {
    color: var(--colors-first);
    font-family: var(--font);
    font-size: 3.2rem;
    font-weight: 900;
    text-align: left;

    padding-top: 4.8rem;
    margin-bottom: 2.1rem;
}

fieldset , textarea{
    border: none;
}
.input-wrapper {
    width: 25rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
 
    border: 2px solid var(--colors-text);
    border-radius: 1.6rem;
    padding: 0.88rem 0.78rem 0.75rem  1rem;

    margin-bottom: 1.5rem;
}
textarea {
    width: 25rem;
    height: 7.8rem;
    border: 2px solid var(--colors-text);
    border-radius: 1.6rem;
    padding: 1rem 0.78rem 0.75rem  1rem;

    margin-bottom: 1.5rem;    
}

::placeholder{
    color: var(--colors-text);
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-family: var(--font);
    font-weight: 700;
    padding-top: 1px;
    padding-left: 5px;

}

/* button */

button {
    color: var(--white);
    background-image: var(--gradient-background);
    text-align: center;
    font-family: var(--font);
    font-size: 14px;
    font-weight: bold;
    line-height: 24px;
    border: none;
    border-radius: 16px;
    padding: 16px;

    cursor: pointer;
 
}






/* foooter */
footer {

    background-color: #343193;
    color: var(--white);
    font-size: 20px;
    text-align: center;
    padding: 16px;

}


/* ------------------  full screen  --------------------------------------------*/

@media (min-width: 450px) {

header  {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100vh;


}

/* img*/

.top-log img  {
    transition: all ease-in-out 0.5s;
    cursor: pointer;
}

/* header texts */
.header-text {
    margin-left: 7rem;
    margin-top: 19rem;

}

.header-text h1 {
    text-align: left;
    font-size: 60px;

}

.header-text p {
    color: var(--colors-text);
    font-family: var(--font);
    font-size: 3.625rem;
    font-weight: 500;
    text-align: left;
    margin-top: 2rem;

}

header .header-text .button-down  {
    margin-left: 0px;
}

header .header-text .box-btn{
    padding-top: 11.25rem;
    display: block;
}



/* cards */
.content-cards  {

}
.cards {
    width: 370px;
    height: 450px;
}
main {
    display: flex;
    margin-top: 4rem;
}
main section .cards {
    
    text-align:left;
}
main section .text-cards h2 {
    font-size: 3.20rem;
}
main section .text-cards p {
    font-size: 1.9rem;
}

/* img card*/
.content-cards img {
    width: 95px;
    height: 95px;
    margin-top: 2rem;
    margin-left: 2rem;
    transition: all ease-in-out 0.5s;
}
.content-cards img:hover {
    cursor: pointer;
    filter: hue-rotate(7deg) contrast(101%) saturate(200%);
    }

    /*text cards */
main section .text-cards {
    margin-top: 2rem;
    margin-left: 2rem;
    
}

/* form */

.container-form {

    height: 85vh;
    background-image:  url(assests/logo-form.svg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 45%;
}

form {
    
    margin: 5.94rem 0 5.94rem 14.81rem;
}
.container-form form h2 {
    font-size: 4.62rem;
    margin-bottom: 3rem;
}

.container-form input {
    background-color: var(--background-body);
    width: 70rem;
    height: 5rem;
    margin-bottom: 3.4rem;
}
textarea {
    background-color: var(--background-body);
    width: 70rem;
    height: 14rem;
    margin-bottom: 2.4rem;
}



.logo-form {
    border: 2px solid black;

}




/* footer */

footer p {
    padding: 1rem;
}



} /* end responsive */













