:root {
    font-size: 62.5%;
    --font: 'Mulish', sans-serif;

    /* colors*/
    --colors-first: #B52184;
    --colors-text: #312D64;
    --white: #fff;
    --light-gray: #fdfdfd;
    --gradient-background: linear-gradient(96.21deg, #343193 0%, #302c63 99.68%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    font-family: var(--font)
}
img {
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

header {
    padding: 0 3.4rem 9.3rem 3.2rem;
    width: 100%;
}
h1 {
   
    color: #B52184;
    font-family: var(--font);
    font-size: 3.2rem;
    font-weight: 900;
    text-align: center;
    margin: 1.7rem 0 0.5rem 0;
}

.header-text {

}

.header-text p {
    color: var(--colors-text);
     text-align: center;
    font-size: 2rem;
    font-weight: 600;
    line-height: 2px;
    margin-bottom: 3.5rem;
}
/* botton down */
header .header-text .button-down {
    width: 5.8rem;
    height: 10.5rem;
    border: 3px solid var(--colors-first);
    border-radius: 75rem;

    display: flex;
    justify-content: center;

    margin: 0 auto;
    transition: filter 300ms;
}
header .header-text .button-down:hover {
    filter: brightness(0.7);
}
.header-text img {
    width: 3rem;
}

/* cards */
main {
   background-image: var(--gradient-background);
   
    display: flex;
    flex-direction: column;
    margin: 0 auto;

}

.cards {
    background-color: var(--white);
    border-radius: 20px;
    width: 22rem;
    height: 22rem;
    padding: 1.6rem;
    margin-bottom: 50px;
}
.cards  h2 {
    color: var(--colors-first);
    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: 900;
}


.cards img {
    display: block;
    width: 3.6rem;
    height: 3.6rem;
    margin-bottom: 2rem ;
}

form {
   display: flex;
   background-color: red;
}


/* foooter */
footer {
    background-color: #343193;
}




